{% extends "control_panel/base.html" %}
{% load static %}
{% block header_style %}


{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="block-header">
            <h2>INICIO</h2>
        </div>
        {% if request.user.is_administrador or request.user.is_superuser %}
            <!-- Resumen cantidades para Admin -->
            <div class="row">
                <a href="{% url 'reservations_admin' %}" title="Pedidos">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box-4">
                            <div class="icon">
                                <i class="material-icons col-black">shopping_cart</i>
                            </div>
                            <div class="content">
                                <div class="text">PEDIDOS</div>
                                <div class="number count-to" data-from="0" data-to="125" data-speed="15"
                                     data-fresh-interval="20">{{ cantidad_pedidos }}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{% url 'bussiness' %}" title="Negocios">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box-4">
                            <div class="icon">
                                <i class="material-icons col-black">store</i>
                            </div>
                            <div class="content">
                                <div class="text">NEGOCIOS</div>
                                <div class="number count-to" data-from="0" data-to="117" data-speed="15"
                                     data-fresh-interval="20">{{ cantidad_negocios }}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{% url 'users_rol' 1 %}" title="Afiliados">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box-4">
                            <div class="icon">
                                <i class="material-icons col-black">face</i>
                            </div>
                            <div class="content">
                                <div class="text">AFILIADOS</div>
                                <div class="number count-to" data-from="0" data-to="257" data-speed="15"
                                     data-fresh-interval="20">{{ cantidad_afiliados }}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{% url 'users_rol' 2 %}" title="Clientes">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box-4">
                            <div class="icon">
                                <i class="material-icons col-black">person</i>
                            </div>
                            <div class="content">
                                <div class="text">CLIENTES</div>
                                <div class="number count-to" data-from="0" data-to="1432" data-speed="15"
                                     data-fresh-interval="20">{{ cantidad_clientes }}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="row">
                <a href="{% url 'services' %}" title="Servicios">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="info-box-4">
                            <div class="icon">
                                <i class="material-icons col-black">widgets</i>
                            </div>
                            <div class="content">
                                <div class="text">SERVICIOS</div>
                                <div class="number">{{ cantidad_servicios }}</div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{% url 'users_rol' 3 %}" title="Persona Encargada">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="info-box-4">
                            <div class="icon">
                                <i class="material-icons col-black">supervisor_account</i>
                            </div>
                            <div class="content">
                                <div class="text">PERSONAL ENCARGADO</div>
                                <div class="number">{{ cantidad_encargados }}</div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{% url 'categories' %}" title="Categocia de Negocio">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="info-box-4">
                            <div class="icon">
                                <i class="material-icons col-black">local_offer</i>
                            </div>
                            <div class="content">
                                <div class="text">CATEGORÍAS DE NEGOCIOS</div>
                                <div class="number">{{ cantidad_categ_neg }}</div>
                            </div>
                        </div>
                    </div>
                </a>


                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box-4 bg-grey">
                        <div class="icon">
                            <i class="material-icons col-black">widgets</i>
                        </div>
                        <div class="content">
                            <div class="text">NEGOCIO + PEDIDOS</div>
                            <div class="number">{{ cantidad_servicios }}</div>
                        </div>
                    </div>

                </div>

            </div>
            {% if  request.user.is_superuser %}
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h2>MIS NEGOCIOS</h2>
                                <ul class="header-dropdown m-r--5">
                                    <ul class="header-dropdown m-r--5">
                                        <li class="dropdown">
                                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                               role="button" aria-haspopup="true" aria-expanded="false">
                                                <i class="material-icons">more_vert</i>
                                            </a>
                                            <ul class="dropdown-menu pull-right">
                                                <li><a href="{% url 'add_bussiness' %}">Agregar<i class="material-icons"
                                                                                                  style="color: #212121">add_circle</i></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </ul>
                            </div>
                            <div class="body">
                                {% if business %}
                                    <div class="table-responsive">
                                        <table class="table table-hover dashboard-task-infos">
                                            <thead>
                                            <tr>
                                                <th>Negocio</th>
                                                <th>Categoría</th>
                                                <th>Servicios</th>
                                                <th>Municipio</th>
                                                <th>Evaluacion</th>
                                                <th>Acciones</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for negocio in business %}
                                                <tr>
                                                    <td>
                                                        <a href="{% url 'my_bussiness' negocio.id %}">{{ negocio.nombre }}</a>
                                                    </td>
                                                    <td>
                                                        {% for categoria in negocio.categorias.all %}
                                                            {{ categoria.nombre }},
                                                        {% endfor %}
                                                    </td>
                                                    <td>
                                                        {% for servicio in negocio.servicios.all %}
                                                            <span class="label bg-{{ servicio.color }}">{{ servicio.nombre }}</span>
                                                        {% endfor %}

                                                    </td>
                                                    <td>{{ negocio.municipio }}</td>

                                                    <td>
                                                        {% if negocio.rating == None %}
                                                            No evaluado
                                                        {% else %}
                                                            {{ negocio.rating }}
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <a type="button" href="{% url 'update_bussiness' negocio.id %}"
                                                           title="Modificar datos de negocio"
                                                           class="btn btn-default waves-effect waves-black">
                                                            <i class="material-icons">edit</i>
                                                        </a>
                                                        <a href="#" type="button"
                                                           class="btn btn-default waves-effect waves-amber"
                                                           data-href="{% url 'delete_bussiness' negocio.id %}"
                                                           data-id="{{ negocio.id }}"
                                                           data-toggle="modal"
                                                           data-target="#confirm-delete"
                                                           title="Eliminar Negocio">
                                                            <i class="material-icons">delete</i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                {% else %}
                                    No es posible mostrar este listado, porque usted no tiene negocios registrados.
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- #END# Latest Social Trends -->


                </div>
            {% endif %}
            <div class="row clearfix">
                <!-- Task Info -->
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="card">
                        <div class="header">
                            <h2>ÚLTIMOS 5 PEDIDOS</h2>
                            {% if ultimos_pedidos %}
                                <ul class="header-dropdown m-r--5">
                                    <li class="dropdown">
                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                           role="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">more_vert</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="{% url 'reservations_admin' %}"><i class="material-icons"
                                                                                            style="color: #212121">add_circle</i>Mostrar
                                                todos</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            {% endif %}
                        </div>
                        <div class="body">
                            {% if ultimos_pedidos %}
                                <div class="table-responsive">
                                    <table class="table table-hover dashboard-task-infos">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Negocio</th>
                                            <th>Cliente</th>
                                            <th>Estado</th>
                                            <th>Total a pagar</th>
                                            <th>% Ke Rápido</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for pedido in ultimos_pedidos %}
                                            <tr>
                                                <td>{{ pedido.id }}</td>
                                                <td>{{ pedido.negocio.nombre }}</td>
                                                <td>{{ pedido.cliente_auth }}</td>
                                                <td>
                                                    {% if pedido.estado == 'Pendiente' %}
                                                        <span class="label btn-warning m-b--35">{{ pedido.estado }}</span>
                                                    {% elif pedido.estado == 'Entregado' %}
                                                        <span class="label btn-success">{{ pedido.estado }}</span>
                                                    {% else %}
                                                        <span class="label btn-secondary">{{ pedido.estado }}</span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {{ pedido.total_pagar_user }}
                                                </td>

                                                <td>
                                                    {{ pedido.porciento_pagar }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                No es posible mostrar este listado, porque no se han registrado pedidos
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="body bg-amber">
                            <div class="font-bold m-b--35">PORCENTAJE DE Ke RÁPIDO</div>
                            <ul class="dashboard-stat-list">
                                <li>

                                </li>
                                <li>
                                    HOY
                                    <span class="pull-right"><b>{{ comision_hoy_general }}</b> <small>CUP</small></span>
                                </li>
                                <li>
                                    AYER
                                    <span class="pull-right"><b>{{ comision_ayer_general }}</b> <small>CUP</small></span>
                                </li>
                                <li>
                                    ÚLTIMA SEMANA
                                    <span class="pull-right"><b>{{ comision_ultima_semana_general }}</b> <small>CUP</small></span>
                                </li>
                                <li>
                                    ÚLTIMO MES
                                    <span class="pull-right"><b>{{ comision_ultimo_mes_general }}</b> <small>CUP</small></span>
                                </li>
                                <li>
                                    ÚLTIMO AÑO
                                    <span class="pull-right"><b>{{ comision_anno_general }}</b> <small>CUP</small></span>
                                </li>
                                <li>
                                    TODO
                                    <span class="pull-right"><b>{{ comision_general }}</b> <small>CUP</small></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}

            <!-- Resumen de mis negocios Afiliados y personal encargado -->
            <div class="row clearfix">
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <div class="card">
                        <div class="header">
                            <h2>MIS NEGOCIOS</h2>
                            {% if  request.user.is_afiliado or request.user.is_persona_encargada %}
                                <ul class="header-dropdown m-r--5">
                                    <li class="dropdown">
                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                           role="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">more_vert</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="{% url 'add_bussiness' %}">Agregar<i class="material-icons"
                                                                                              style="color: #212121">add_circle</i></a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            {% endif %}
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-hover dashboard-task-infos">
                                    <thead>
                                    <tr>
                                        <th>Negocio</th>
                                        <th>Categoría</th>
                                        <th>Servicios</th>
                                        <th>Municipio</th>
                                        <th>Evaluacion</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if request.user.is_afiliado or request.user.is_persona_encargada %}
                                        {% for negocio in business %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'my_bussiness' negocio.id %}">{{ negocio.nombre }}</a>
                                                </td>
                                                <td>
                                                    {% for categoria in negocio.categorias.all %}
                                                        {{ categoria.nombre }},
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {% for servicio in negocio.servicios.all %}
                                                        <span class="label bg-{{ servicio.color }}">{{ servicio.nombre }}</span>
                                                        <br>
                                                    {% endfor %}

                                                </td>
                                                <td>{{ negocio.municipio }}</td>
                                                <td>
                                                    {% if negocio.rating == None %}
                                                        No evaluado
                                                    {% else %}
                                                        {{ negocio.rating }}
                                                    {% endif %}
                                                </td>
                                                <td>

                                                    {% if negocio.is_closed %}
                                                        <a href="#" type="button"
                                                           class="btn btn-default waves-effect waves-black"
                                                           data-href=""
                                                           title="Aperturar Negocio"
                                                           data-toggle="modal" data-target="#openModal"
                                                           data-id="">
                                                            <i class="material-icons">visibility</i>
                                                        </a>
                                                    {% else %}
                                                        <a href="#" type="button"
                                                           class="btn btn-default waves-effect waves-black"
                                                           data-href=""
                                                           title="Cerrar Negocio"
                                                           data-toggle="modal" data-target="#closedModal"
                                                           data-id="">
                                                            <i class="material-icons">visibility_off</i>
                                                        </a>
                                                    {% endif %}
                                                    <a type="button" href="{% url 'update_bussiness' negocio.id %}"
                                                       title="Modificar datos de negocio"
                                                       class="btn btn-default waves-effect waves-black">
                                                        <i class="material-icons">edit</i>
                                                    </a>
                                                    <a href="#" type="button"
                                                       class="btn btn-default waves-effect waves-amber"
                                                       data-href="{% url 'delete_bussiness' negocio.id %}"
                                                       data-id="{{ negocio.id }}"
                                                       data-toggle="modal"
                                                       data-target="#confirm-delete"
                                                       title="Eliminar Negocio">
                                                        <i class="material-icons">delete</i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        {% for negocio in business_persona %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'my_bussiness' negocio.id %}">{{ negocio.nombre }}</a>
                                                </td>
                                                <td>
                                                    {% for categoria in negocio.categorias.all %}
                                                        {{ categoria.nombre }},
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {% for servicio in negocio.servicios.all %}
                                                        <span class="label bg-{{ servicio.color }}">{{ servicio.nombre }}</span>
                                                    {% endfor %}

                                                </td>
                                                <td>{{ negocio.municipio }}</td>

                                                <td>
                                                    {% if negocio.rating == None %}
                                                        No evaluado
                                                    {% else %}
                                                        {{ negocio.rating }}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a type="button" href="{% url 'update_bussiness' negocio.id %}"
                                                       title="Modificar datos de negocio"
                                                       class="btn btn-default waves-effect waves-black">
                                                        <i class="material-icons">edit</i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #END# Latest Social Trends -->
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="card">
                        <div class="body bg-grey">
                            <div class="font-bold m-b--35">PRODUCTOS + RESERVADOS</div>
                            <ul class="dashboard-stat-list">
                                <li>
                                    Producto 8
                                    <span class="pull-right"><b>200</b> <small>prod</small></span>
                                </li>
                                <li>
                                    Producto 2
                                    <span class="pull-right"><b>110</b> <small>prod</small></span>
                                </li>
                                <li>
                                    Producto 5
                                    <span class="pull-right"><b>80</b> <small>prod</small></span>
                                </li>
                                <li>
                                    Producto 1
                                    <span class="pull-right"><b>60</b> <small>prod</small></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <!-- Task Info -->
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="card">
                        <div class="header">
                            <h2>ÚLTIMOS 5 PEDIDOS</h2>
                        </div>
                        <div class="body">
                            {% if ultimos_pedidos %}
                                <div class="table-responsive">
                                    <table class="table table-hover dashboard-task-infos">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Negocio</th>
                                            <th>Cliente</th>
                                            <th>Estado</th>
                                            <th>Total a pagar</th>
                                            <th>% Ke Rápido</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for pedido in ultimos_pedidos %}
                                            <tr>
                                                <td>{{ pedido.id }}</td>
                                                <td>{{ pedido.negocio.nombre }}</td>
                                                <td>{{ pedido.cliente_auth }}</td>
                                                <td>
                                                    {% if pedido.estado == 'Pendiente' %}
                                                        <span class="label btn-warning m-b--35">{{ pedido.estado }}</span>
                                                    {% elif pedido.estado == 'Entregado' %}
                                                        <span class="label btn-success">{{ pedido.estado }}</span>
                                                    {% else %}
                                                        <span class="label btn-secondary">{{ pedido.estado }}</span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {{ pedido.total_pagar_user }}
                                                </td>

                                                <td>
                                                    {{ pedido.porciento_pagar }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                No es posible mostrar este listado, porque no se han registrado pedidos
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="body bg-amber">
                            <div class="font-bold m-b--35">COMISIÓN POR USABILIDAD</div>
                            <ul class="dashboard-stat-list">
                                <li>
                                    HOY
                                    <span class="pull-right"><b>{{ comision_hoy_general }}</b> <small>CUP</small></span>
                                </li>
                                <li>
                                    AYER
                                    <span class="pull-right"><b>{{ comision_ayer_general }}</b> <small>CUP</small></span>
                                </li>
                                <li>
                                    ÚLTIMA SEMANA
                                    <span class="pull-right"><b>{{ comision_ultima_semana_general }}</b> <small>CUP</small></span>
                                </li>
                                <li>
                                    ÚLTIMO MES
                                    <span class="pull-right"><b>{{ comision_ultimo_mes_general }}</b> <small>CUP</small></span>
                                </li>
                                <li>
                                    ÚLTIMO AÑO
                                    <span class="pull-right"><b>{{ comision_anno_general }}</b> <small>CUP</small></span>
                                </li>
                                <li>
                                    TODO
                                    <span class="pull-right"><b>{{ comision_general }}</b> <small>CUP</small></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="defaultModalLabel">Desea eliminar el negocio?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <a type="button" class="btn btn-danger btn-ok">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block plugin_section %}


    <script src="{% static 'control_panel/js/pages/index.js' %}"></script>


    <script>
        $('li').click(function () {
            $(this).addClass('active').siblings().removeClass('active');
        });
        $('#confirm-delete').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
    </script>
    <script>
        window.setTimeout(function () {
            location.href = "http://127.0.0.1:8000/panel";
        }, 100000); // refresh/redirect after 1 minuto.
    </script>
{% endblock %}