{% extends 'control_panel/base.html' %}
{% load static %}
{% block header_style %}

    <!-- JQuery DataTable Css -->
    <link href="{% static 'control_panel/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}"
          rel="stylesheet">

{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h2>
                        GESTIÓN DE MIS NEGOCIOS
                        <small>Módulo para la gestion de categorias de productos "{{ negocio.nombre }}"</small>
                    </h2>
                </div>
            </div>
        </div>
        <!-- #END# Basic Examples -->
        <!-- Exportable Table -->
        <div class="row clearfix" style="margin-top: 2%">
            <diV style="width: 50%;margin-left: 23%">
                {% if messages %}
                    <ul class="messages align-content-center">
                        {% for message in messages %}
                            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible"
                                 role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                        {% endfor %}
                    </ul>
                {% endif %}
                {% if error %}
                    <div class="col-lg-9">
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                    </div>
                {% endif %}
            </diV>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            LISTADO DE CATEGORÍAS DE PRODUCTOS
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="{% url 'add_category_product' negocio.id %}"><i class="material-icons">add_circle</i>Agregar</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table id="example" class="table table-bordered table-striped table-hover dataTable">
                                <thead>
                                <tr>
                                    <th>Nro.</th>
                                    <th>Nombre de Categoría</th>
                                    <th>Descripción</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Nro.</th>
                                    <th>Nombre de Categoría</th>
                                    <th>Descripción</th>
                                    <th>Acciones</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {% for categoria in categorias %}
                                    <tr>
                                        <td>{{ categoria.id }}</td>
                                        <td>{{ categoria.nombre }}</td>
                                        <td>{{ categoria.descripcion }}</td>
                                        <td>
                                            <a type="button"
                                               href="{% url 'edit_category_product' negocio.id categoria.id %}"
                                               class="btn btn-default waves-effect waves-black">
                                                <i class="material-icons">edit</i>
                                            </a>
                                            <a href="#" type="button" class="btn btn-default waves-effect waves-amber"
                                               data-href="{% url 'delete_category' categoria.id %}"
                                               data-toggle="modal"
                                               data-target="#confirm-delete"
                                               title="Eliminar Categoria">
                                                <i class="material-icons">delete</i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="defaultModalLabel">Desea eliminar el servicio?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <a type="button" class="btn btn-danger btn-ok">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block plugin_section %}
    <!-- Jquery DataTable Plugin Js -->
    <script src="{% static 'control_panel/plugins/jquery-datatable/jquery.dataTables.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/extensions/export/buttons.flash.min.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/extensions/export/jszip.min.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/extensions/export/pdfmake.min.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/extensions/export/vfs_fonts.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/extensions/export/buttons.html5.min.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/extensions/export/buttons.print.min.js' %}"></script>

    <!-- Custom Js -->

    <script src="{% static 'control_panel/js/pages/tables/jquery-datatable.js' %}"></script>

    <script>
        $('#confirm-delete').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                responsive: true,

                language: {
                    "decimal": "",
                    "emptyTable": "Sin información para mostrar",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                "aLengthMenu": [[5, 10, 20, -1], [5, 10, 20, "Todos"]],
                "iDisplayLength": 5
            });
        });
    </script>

{% endblock %}