{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Ke RÁPIDO | Panel de Control</title>
    <!-- Favicon-->
    <link rel="icon" href="{% static 'control_panel/images/logo.jpg' %}" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="{% static 'control_panel/fonts-icons/css.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'control_panel/fonts-icons/icon.css' %}" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="{% static 'control_panel/plugins/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="{% static 'control_panel/plugins/node-waves/waves.css' %}" rel="stylesheet"/>

    <!-- Custom Css -->
    <link href="{% static 'control_panel/css/style.css' %}" rel="stylesheet">

</head>

<body class="four-zero-four">
<div class="four-zero-four-container">
    <div class="error-code">404</div>
    <div class="error-message">This page doesn't exist</div>
{#    <div class="button-place">#}
{#        <a href="{% url 'panel' %}" class="btn btn-default btn-lg waves-effect">GO TO HOMEPAGE</a>#}
{#    </div>#}
</div>

<!-- Jquery Core Js -->
<script src="{% static 'control_panel/plugins/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap Core Js -->
<script src="{% static 'control_panel/plugins/bootstrap/js/bootstrap.js' %}"></script>

<!-- Waves Effect Plugin Js -->
<script src="{% static 'control_panel/plugins/node-waves/waves.js' %}"></script>
</body>

</html>