{% extends 'control_panel/base.html' %}
{% load static %}
{% block header_style %}

    <!-- JQuery DataTable Css -->
    <link href="{% static 'control_panel/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}"
          rel="stylesheet">

{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="block-header">
            <h2>
                GESTIÓN DE RESERVACIONES
                <small>Módulo para la gestion de reservaciones</small>
            </h2>
        </div>

        <!-- #END# Basic Examples -->
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            LISTADO DE RESERVACIONES
                        </h2>
                        {#                        <ul class="header-dropdown m-r--5">#}
                        {#                            <li class="dropdown">#}
                        {#                                <a type="button" href="{% url 'panel' %}"#}
                        {#                                   class="btn btn-default waves-effect waves-black">#}
                        {#                                    <i class="material-icons " style="color: #212121">add_circle</i>#}
                        {#                                    <span>AGREGAR</span>#}
                        {#                                </a>#}
                        {##}
                        {#                            </li>#}
                        {#                        </ul>#}
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable js-basic-example ">
                                <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Cliente</th>
                                    <th>Detalles</th>
                                    <th>Fecha de Reservación</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>No.</th>
                                    <th>Cliente</th>
                                    <th>Detalles</th>
                                    <th>Fecha de Reservación</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><a data-toggle="tooltip" data-placement="bottom" title="Tel: 54232625">Jose
                                        Orlando Barroso</a></td>
                                    <td><a type="button" class="btn btn-default waves-effect m-r-20" data-toggle="modal"
                                           data-target="#defaultModal">3 prod - 72.80 CUP</a></td>
                                    <td>2011/04/25</td>
                                    {#                                    <td>pepe@as.as</td>#}
                                    <td>
                                        <span class="badge btn-warning">Pendiente</span>
                                        <span class="badge btn-danger">Cancelado</span>
                                        <span class="badge btn-success">Entregado</span>
                                    </td>
                                    <td>
                                        <a type="button" class="btn btn-default waves-effect waves-black"
                                           title="Cambiar estado">
                                            <i class="material-icons">swap_calls</i>
                                        </a>

                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
    <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #212121;">
                    <h4 class="modal-title" id="defaultModalLabel" style="color: #fff">Detalles de Reservación</h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li role="presentation" class="active"><a href="#home" data-toggle="tab">FACTURA</a></li>
                        <li role="presentation"><a href="#profile" data-toggle="tab">DATOS PARA ENTREGA</a></li>
                        {#                            <li role="presentation"><a href="#messages" data-toggle="tab">MESSAGES</a></li>#}
                        {#                            <li role="presentation"><a href="#settings" data-toggle="tab">SETTINGS</a></li>#}
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                            <b>Servicio: Entrega a Domicilio</b>
                            <br>
                            <br>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th colspan="4" style="text-align: center">Reservación #1</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="3"><label>Fecha: 21/08/2020</label></td>
                                    <td><label>Hora: 03:25pm</label></td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td colspan="2">Producto 1</td>
                                    <td>35.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td colspan="2">Producto 2</td>
                                    <td>15.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td colspan="2">Producto 3</td>
                                    <td>20.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Productos</td>
                                    <td style="text-align: right">Total:</td>
                                    <td>70.00 cup</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td>Servicio de Entrega a Domicilio</td>
                                    <td style="text-align: right">Total:</td>
                                    <td>25.00 cup</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td>+ 4%</td>
                                    <td style="text-align: right">Total:</td>
                                    <td>2.80 cup</td>
                                </tr>
                                </tbody>
                                <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th style="text-align: right">Total a pagar:</th>
                                    <th>97.80 cup</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="profile">
                            {#                            <b>Datos para entrega</b>#}
                            <table class="table">
                                <thead>
                                <tr>
                                    <th colspan="2" style="text-align: center"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="2"><label>Cliente: </label> Jose Orlando Barroso</td>

                                </tr>
                                <tr>
                                    <th scope="row">Teléfono</th>
                                    <td>54256585</td>

                                </tr>
                                <tr>
                                    <th scope="row">Dirección</th>
                                    <td colspan="2">Lucena #369</td>
                                </tr>
                                <tr>
                                    <th scope="row">Municipio</th>
                                    <td colspan="2">Boyeros
                                    </td>
                                </tr>

                                </tbody>

                            </table>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    {#                            <button type="button" class="btn btn-link waves-effect">SAVE CHANGES</button>#}
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CERRAR</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block plugin_section %}
    <!-- Jquery DataTable Plugin Js -->
    <script src="{% static 'control_panel/plugins/jquery-datatable/jquery.dataTables.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/extensions/export/buttons.flash.min.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/extensions/export/jszip.min.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/extensions/export/pdfmake.min.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/extensions/export/vfs_fonts.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/extensions/export/buttons.html5.min.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/extensions/export/buttons.print.min.js' %}"></script>

    <!-- Custom Js -->

    <script src="{% static 'control_panel/js/pages/tables/jquery-datatable.js' %}"></script>
    <script src="{% static 'control_panel/js/pages/ui/modals.js' %}"></script>

    <script src="{% static 'control_panel/js/pages/ui/tooltips-popovers.js' %}"></script>

{% endblock %}
