{% extends 'control_panel/base.html' %}
{% load static %}
{% block header_style %}

    <!-- JQuery DataTable Css -->
    <link href="{% static 'control_panel/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}"
          rel="stylesheet">
    <!-- Multi Select Css -->
    <link href="{% static 'control_panel/plugins/multi-select/css/multi-select.css' %}" rel="stylesheet">
    <!-- Bootstrap Select Css -->
    <link href="{% static 'control_panel/plugins/bootstrap-select/css/bootstrap-select.css' %}" rel="stylesheet"/>

{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="block-header">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h2>
                    GESTIÓN DE PRODUCTOS
                    <small>Módulo para la gestion de los productos "{{ negocio.nombre }}"</small>
                </h2>
            </div>
        </div>

        <!-- #END# Basic Examples -->
        <!-- Exportable Table -->
        <div class="row clearfix" style="margin-top:6%">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            PRODUCTOS
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a type="button" href="{% url 'add_product' negocio.id %}" class="btn btn-default waves-effect waves-black">
                                    <i class="material-icons " style="color: #212121">add_circle</i>
                                    <span>AGREGAR</span>
                                </a>

                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <!-- Platos -->
                        <div class="panel panel-default panel-post">


                            <form id="" method="POST">{% csrf_token %}
                                <div class="row" style="margin: 0.5em 0 0 0">

{#                                    <div class="col-lg-6 col-sm-12 col-xs-12">#}
{#                                        <div class="input-group">#}
{#                                            <span class="input-group-addon">#}
{#                                                <i class="material-icons">flag</i>#}
{#                                            </span>#}
{#                                            <div class="form-line">#}
{#                                                <label>Categoría de productos</label>#}
{#                                                <select class="form-control show-tick" multiple>#}
{#                                                    <option>Comida Criolla</option>#}
{#                                                    <option>Bebidas y Licores</option>#}
{#                                                    <option>Comida Italiana</option>#}
{#                                                </select>#}
{#                                            </div>#}
{#                                        </div>#}
{##}
{#                                    </div>#}
{#                                    <div class="col-lg-4 col-sm-12 col-xs-12">#}
                                        {#                                        Seleccione las categorias#}
{#                                    </div>#}

{#                                    <div class="col-lg-4 col-sm-12 col-xs-12">#}
{#                                        <div class="input-group">#}
{#                                            <span class="input-group-addon">#}
{#                                                <i class="material-icons">search</i>#}
{#                                            </span>#}
{#                                            <div class="form-line">#}
{#                                                <input type="search" class="form-control"#}
{#                                                       name="buscar"#}
{#                                                       placeholder="Buscar">#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
                                </div>
                                <div class="panel-body">
                                    <div class="post">
                                        <div class="post-content">
                                            <div class="container-fluid">
                                                <div class="block-header">
                                                {#<h2>BASIC CARD</h2>#}
                                                </div>
                                                <!-- Basic Card -->
                                                <div class="row clearfix">
                                                    {% for product in products %}
                                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                            <div class="card">
                                                                <div class="card-header" style="height: 180px">
                                                                    <img style="width: 100%;height: 100%"
                                                                         src="{{ product.imagen.url }}"
                                                                         alt="">
                                                                </div>
                                                                {#<hr>#}
                                                                <div class="body">
                                                                    <div class="row">
                                                                        <div class="col-lg-8">
                                                                            <h4>{{ product.nombre }}</h4>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            <h4>${{ product.precio }}</h4>
                                                                        </div>
                                                                    </div>
                                                                    <p style="overflow: hidden;
                                                                   text-overflow: ellipsis;
                                                                   display: -webkit-box;
                                                                   -webkit-line-clamp: 1; /* number of lines to show */
                                                                   -webkit-box-orient: vertical;">
                                                                        {{ product.descripcion }}
                                                                    </p>
{#                                                                    <a href="#"><i class="material-icons" style="color:#FEC010;position: absolute;padding: 12px;right: 55px">visibility</i></a>#}
                                                                    <a href="{% url 'edit_product' negocio.id product.id %}">
                                                                        <i class="material-icons" style="color:#FEC010;position: absolute;padding: 12px;right: 35px">edit</i></a>
                                                                    <a href="#"
                                                                       data-href="{% url 'delete_product' product.id %}"
                                                                       data-toggle="modal"
                                                                       data-target="#confirm-delete"
                                                                       title="Eliminar Producto"
                                                                    ><i class="material-icons" style="color:#FEC010;position: absolute;padding: 12px;right: 10px">delete</i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% empty %}
                                                        <h4 class="center-align">No hay productos</h4>
                                                    {% endfor %}
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
{#                                <div style="margin-left: 68%">#}
{#                                    <nav aria-label="Page navigation example">#}
{#                                        <ul class="pagination pg-blue ">#}
{#                                            <li class="page-item justify-content-end">#}
{#                                                <a class="page-link" tabindex="-1">Anterior</a>#}
{#                                            </li>#}
{#                                            <li class="page-item"><a class="page-link">1</a></li>#}
{#                                            <li class="page-item active">#}
{#                                                <a class="page-link">2 <span class="sr-only">(current)</span></a>#}
{#                                            </li>#}
{#                                            <li class="page-item"><a class="page-link">3</a></li>#}
{#                                            <li class="page-item ">#}
{#                                                <a class="page-link">Próximo</a>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                    </nav>#}
{#                                </div>#}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="defaultModalLabel">Desea eliminar el producto?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <a type="button" class="btn btn-danger btn-ok">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block plugin_section %}

    <script src="{% static 'control_panel/js/pages/forms/advanced-form-elements.js' %}"></script>

    <script>
        $('#confirm-delete').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
    </script>

{% endblock %}

