{% extends "control_panel/base.html" %}
{% load static %}
{% block header_style %}
    <!--WaitMe Css-->
    <link href="{% static 'control_panel/plugins/waitme/waitMe.css' %}" rel="stylesheet"/>

{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-3">
                <div class="card profile-card">
                    <div class="profile-header">&nbsp;</div>
                    <div class="profile-body">
                        <div class="image-area">
                            <img style="width: 90px;height: 90px"
                                 src="{% static 'control_panel/images/user.jpg' %}"
                                 alt="AdminBSB - Profile Image"/>
                        </div>
                        <div class="content-area">
                            <h3>Yeneisy Barroso Marquez</h3>
                            <p>superusuario</p>
                            <p>yeny</p>
                        </div>
                    </div>
                    <div class="profile-footer">
                        <ul>
                            <li>
                                <span>Negocios</span>
                                <span>1</span>
                            </li>
                            <li>
                                <span>Productos</span>
                                <span>15</span>
                            </li>
                            <li>
                                <span>Reservaciones</span>
                                <span>2</span>
                            </li>
                        </ul>
{#                        <button class="btn btn-warning btn-lg waves-effect btn-block ">FOLLOW</button>#}
                    </div>
                </div>

                <div class="card card-about-me">
                    <div class="header">
                        <h2>DATOS DEL NEGOCIO</h2>
                    </div>
                    <div class="body">
                        <ul>

                            <li>
                                <div class="title">
                                    <i class="material-icons">edit</i>
                                    Servicios
                                </div>
                                <div class="content">
                                    <span class="label bg-red">UI Design</span>
                                    <span class="label bg-teal">JavaScript</span>
                                    <span class="label bg-blue">PHP</span>
                                    {#                                    <span class="label bg-amber">Node.js</span>#}
                                </div>
                            </li>
                            <li>
                                <div class="title">
                                    <i class="material-icons">library_books</i>
                                    Descripción
                                </div>
                                <div class="content">
                                    B.S. in Computer Science from the University of Tennessee at Knoxville
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="card">
                    <div class="body">
                        <div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                                                                          data-toggle="tab">Negocios</a>
                                </li>
                                <li role="presentation"><a href="#profile_settings" aria-controls="settings" role="tab"
                                                           data-toggle="tab">Actualizar Información</a></li>
                                <li role="presentation"><a href="#change_password_settings" aria-controls="settings"
                                                           role="tab" data-toggle="tab">Cambiar contraseña</a></li>
                            </ul>

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home">
                                    <div class="panel panel-default panel-post">
                                        <div class="panel-heading">
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#">
                                                        <img style="height: 45px"
                                                             src="{% static 'control_panel/images/negocios/levant.jpg ' %}"/>
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading">
                                                        <a href="#">El Levant</a>
                                                    </h4>
                                                    Shared publicly - 26 Oct 2018
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="post">
                                                <div class="post-heading">
                                                    <p>Slogan:
                                                        {#                                                        <a href="#">#small</a> bits of <a#}
                                                        {#                                                            href="#">#information</a>. #}
                                                        I require little more information
                                                        to use effectively.</p>
                                                </div>
                                                <div class="post-content">
                                                    <img src="{% static 'control_panel/images/profile-post-image.jpg' %}"
                                                         class="img-responsive"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="material-icons">smartphone</i>
                                                        <span>+53 555555</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="material-icons">phone</i>
                                                        <span>+53 78678178</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="material-icons">email</i>
                                                        <span>levant@gmail.com</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url  'table' %}">
                                                        <i class="material-icons">location_on</i>
                                                        <span>Águila y Salud</span>

                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="panel panel-default panel-post">
                                        <div class="panel-heading">
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#">
                                                        <i class="material-icons">restaurant</i>
                                                        {#                                                        <span>Oferta</span>#}
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading">
                                                        <a href="{% url 'table' %}">Productos Ofertados</a>
                                                    </h4>
                                                    Última actualiazción - 01 Oct 2018
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="post">
                                                <div class="post-heading">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                        eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                </div>
                                                <div class="post-content">
                                                    {#                                                    <iframe width="100%" height="360"#}
                                                    {#                                                            src="https://www.youtube.com/embed/10r9ozshGVE"#}
                                                    {#                                                            frameborder="0" allowfullscreen=""></iframe>#}

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="material-icons" style="color: #FEC010">grade</i>
                                                        <span class="label bg-amber">5.5</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="material-icons" style="color: #212121">comment</i>
                                                        <span class="label bg-black">8 Comments</span>
                                                    </a>
                                                </li>
{#                                                <li>#}
{#                                                    <a href="#">#}
{#                                                        <i class="material-icons">share</i>#}
{#                                                        <span>Share</span>#}
{#                                                    </a>#}
{#                                                </li>#}
                                            </ul>


                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in" id="profile_settings">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label for="NameSurname" class="col-sm-2 control-label">Name Surname</label>
                                            <div class="col-sm-10">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="NameSurname"
                                                           name="NameSurname" placeholder="Name Surname"
                                                           value="Marc K. Hammond" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Email" class="col-sm-2 control-label">Email</label>
                                            <div class="col-sm-10">
                                                <div class="form-line">
                                                    <input type="email" class="form-control" id="Email" name="Email"
                                                           placeholder="Email" value="example@example.com" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="InputExperience"
                                                   class="col-sm-2 control-label">Experience</label>

                                            <div class="col-sm-10">
                                                <div class="form-line">
                                                    <textarea class="form-control" id="InputExperience"
                                                              name="InputExperience" rows="3"
                                                              placeholder="Experience"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="InputSkills" class="col-sm-2 control-label">Skills</label>

                                            <div class="col-sm-10">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="InputSkills"
                                                           name="InputSkills" placeholder="Skills">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <input type="checkbox" id="terms_condition_check"
                                                       class="chk-col-red filled-in"/>
                                                <label for="terms_condition_check">I agree to the <a href="#">terms and
                                                    conditions</a></label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" class="btn btn-danger">SUBMIT</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in" id="change_password_settings">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label for="OldPassword" class="col-sm-3 control-label">Old Password</label>
                                            <div class="col-sm-9">
                                                <div class="form-line">
                                                    <input type="password" class="form-control" id="OldPassword"
                                                           name="OldPassword" placeholder="Old Password" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="NewPassword" class="col-sm-3 control-label">New Password</label>
                                            <div class="col-sm-9">
                                                <div class="form-line">
                                                    <input type="password" class="form-control" id="NewPassword"
                                                           name="NewPassword" placeholder="New Password" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="NewPasswordConfirm" class="col-sm-3 control-label">New Password
                                                (Confirm)</label>
                                            <div class="col-sm-9">
                                                <div class="form-line">
                                                    <input type="password" class="form-control" id="NewPasswordConfirm"
                                                           name="NewPasswordConfirm"
                                                           placeholder="New Password (Confirm)" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-danger">SUBMIT</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block plugin_section %}

    <!-- Bootstrap Notify Plugin Js -->
    <script src="{% static 'control_panel/plugins/bootstrap-notify/bootstrap-notify.js' %}"></script>

    <script src="{% static 'site/js/main.js' %}"></script>

{% endblock %}
