{% extends 'base.html' %}
{% load static %}
{% block arbol_ofertas %}
    <h2>Nuestros Afiliados</h2>
    <ol>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li>Nuestros Afiliados</li>
    </ol>
{% endblock %}
{% block contenido %}

    <!-- ======= Descripción de Ofertas Laborales ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                {#                <h2>Quiénes Somos</h2>#}
                <p>
                    En esta sección Ke Rápido publica los negocios de sus afiliados.

                </p>
            </div>

        </div>
    </section><!-- Fin de Descripción de Ofertas Laborales -->

    <!-- ======= Ofertas Laborales de Afiliados ======= -->
    <section id="cards" class="cards">
        <div class="container">

            <div class="row">
                {% for negocio_afiliado in negocios_afiliados %}
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="card">
                            <img src="{{ negocio_afiliado.portada.url }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><a href="">{{ negocio_afiliado.nombre }}</a></h5>
                                <p class="card-text text-center">
                                    {% for c in negocio_afiliado.categorias.all %}
                                        {% if forloop.last %}
                                            {{ c.nombre }}
                                        {% else %}
                                            {{ c.nombre }},
                                        {% endif %}
                                    {% endfor %}</p>
                                <a href="{% url 'detalles_afiliado' negocio_afiliado.id %}" class="btn">Más detalles</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section><!-- Fin de Ofertas Laborales de Afiliados -->



{% endblock %}