{% extends 'base.html' %}
{% load static %}
{% block arbol_ofertas %}
    <h2>Nuestros Afiliados</h2>
    <ol>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li>Nuestros Afiliados</li>
    </ol>
{% endblock %}
{% block contenido %}

    <!-- ======= Descripción de Ofertas Laborales ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                {#                <h2>Quiénes Somos</h2>#}
                <p>
                    En esta sección Ke Rápido publica los negocios de sus afiliados.

                </p>
            </div>

        </div>
    </section><!-- Fin de Descripción de Ofertas Laborales -->

    <!-- ======= Ofertas Laborales de Afiliados ======= -->
    <section id="cards" class="cards">
        <div class="container ">

            <div class="row">
                {% for negocio_afiliado in negocios_afiliados %}
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="card">
                            <img style="height:260px;width:330px"  src="{{ negocio_afiliado.portada.url }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><a href="">{{ negocio_afiliado.nombre }}</a></h5>
                                <p class="card-text text-center">
                                    {% for c in negocio_afiliado.categorias.all %}
                                        {% if forloop.last %}
                                            {{ c.nombre }}
                                        {% else %}
                                            {{ c.nombre }},
                                        {% endif %}
                                    {% endfor %}</p>
                                <a href="{% url 'detalles_afiliado' negocio_afiliado.id %}" class="btn">Más detalles</a>
                            <br>
                            <br>
                            <br>
                            <br></div>
                        </div>
                    </div>
                {% endfor %}
            </div>


        </div>
        <!--Pagination-->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if negocios_afiliados.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ negocios_afiliados.previous_page_number }}">Anterior</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                    </li>
                {% endif %}
                {% for i in negocios_afiliados.paginator.page_range %}
                    {% if movies.number == i %}
                        <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </span>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if movies.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ negocios_afiliados.next_page_number }}">Siguiente</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Siguiente</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <!--end of Pagination-->

    </section><!-- Fin de Ofertas Laborales de Afiliados -->



{% endblock %}