{% extends 'base.html' %}
{% load static %}
{% block arbol_ofertas %}
    <ol>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li>Ofertas Laborales</li>
    </ol>
{% endblock %}
{% block contenido %}

    <!-- ======= Descripción de Ofertas Laborales ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                {#                <h2>Quiénes Somos</h2>#}
                <p>
                    En esta sección los afiliados de Ke Rápido publican sus ofertas laborales, para que clientes y
                    públicos en general conozcan sus necesidades, y en caso de que les interese se pongan en contacto lo
                    antes posible.

                </p>
            </div>

        </div>
    </section><!-- Fin de Descripción de Ofertas Laborales -->

    <!-- ======= Ofertas Laborales de Afiliados ======= -->
    <section id="cards" class="cards">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="card">
                        <img src="{% static 'site/img/card-1.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><a href="">El Levant</a></h5>
                            <p class="card-text text-center">Necesitamos un repartidor que tenga bicicleta eléctrica</p>
                            <a href="{% url 'detalles_oferta' 1 %}" class="btn">Más detalles</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="card">
                        <img src="{% static 'site/img/card-2.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><a href="">El Gallo de Oro</a></h5>
                            <p class="card-text text-center">Necesitamos cajera, dependiente y cocinero, preferiblemente
                                de Arroyo
                                Naranjo.</p>
                            <a href="#" class="btn">Más detalles</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="card">
                        <img src="{% static 'site/img/card-3.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><a href="">La Mimosa</a></h5>
                            <p class="card-text text-center">Necesitamos ayudantes de cocina, salario negociable.</p>
                            <a href="#" class="btn">Más detalles</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- Fin de Ofertas Laborales de Afiliados -->


{% endblock %}