{% extends 'control_panel/base.html' %}
{% load static %}
{% block header_style %}

    <!-- JQuery DataTable Css -->
    <link href="{% static 'control_panel/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}"
          rel="stylesheet">

{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h2>
                        GESTIÓN DE NEGOCIOS
                        <small>Módulo para la gestion de negocios</small>
                    </h2>
                </div>
            </div>
        </div>
        <!-- #END# Basic Examples -->
        <!-- Exportable Table -->
        <div class="row clearfix">
            <diV style="width: 50%;margin-left: 23%">
                {% if messages %}
                    <ul class="messages align-content-center">
                        {% for message in messages %}
                            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible"
                                 role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                        {% endfor %}
                    </ul>
                {% endif %}
                {% if error %}
                    <div class="col-lg-9">
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                    </div>
                {% endif %}
            </diV>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            LISTADO DE NEGOCIOS
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="{% url 'add_bussiness' %}"><i class="material-icons" style="color: #212121">add_circle</i>Agregar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table id="example" class="table table-bordered table-striped table-hover dataTable  ">
                                <thead>
                                <tr>
                                    <th>Afiliado</th>
                                    <th>Nombre</th>
                                    <th>Servicios</th>
                                    <th>Evaluacion</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Afiliado</th>
                                    <th>Nombre</th>
                                    <th>Servicios</th>
                                    <th>Evaluacion</th>

                                    <th>Acciones</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {% for negocio in negocios %}
                                    <tr>
                                        <td>{{ negocio.usuario_negocio.first_name }}</td>
                                        <td><a href="{% url 'my_bussiness' negocio.id %}">{{ negocio.nombre }}</a></td>
                                        <td>
                                            {% for servicio in negocio.servicios.all %}
                                                <span class="label bg-{{ servicio.color }}">{{ servicio.nombre }}</span>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% if negocio.rating == None %}
                                                No evaluado
                                            {% else %}
                                                {{ negocio.rating }}
                                            {% endif %}
                                        </td>
                                        <td>

                                            {% if not request.user.is_administrador %}
                                                <a href="#" type="button"
                                                   class="btn btn-default waves-effect waves-black"
                                                   data-href=""
                                                   title="Desactivar Usuario"
                                                   data-toggle="modal" data-target="#blockedModal"
                                                   data-id="">
                                                    <i class="material-icons">visibility</i>
                                                </a>
                                            {% else %}
{#                                                <a href="#" type="button"#}
{#                                                   class="btn btn-default waves-effect waves-black"#}
{#                                                   data-href=""#}
{#                                                   title="Activar Usuario"#}
{#                                                   data-toggle="modal" data-target="#activeModal"#}
{#                                                   data-id="{{ user.persona_encargada.id }}">#}
{#                                                    <i class="material-icons">accessibility</i>#}
{#                                                </a>#}
                                            {% endif %}
                                            <a href="#" type="button" class="btn btn-default waves-effect waves-amber"
                                               data-href="{% url 'delete_bussiness' negocio.id %}"
                                               data-id="{{ negocio.id }}"
                                               data-toggle="modal"
                                               data-target="#confirm-delete"
                                               title="Eliminar Negocio">
                                                <i class="material-icons">delete</i>
                                            </a>
                                        </td>


                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
{% endblock %}
{% block plugin_section %}
    <!-- Jquery DataTable Plugin Js -->
    <script src="{% static 'control_panel/plugins/jquery-datatable/jquery.dataTables.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/extensions/export/buttons.flash.min.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/extensions/export/jszip.min.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/extensions/export/pdfmake.min.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/extensions/export/vfs_fonts.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/extensions/export/buttons.html5.min.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/extensions/export/buttons.print.min.js' %}"></script>

    <!-- Custom Js -->

    <script src="{% static 'control_panel/js/pages/tables/jquery-datatable.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                responsive: true,

                language: {
                    "decimal": "",
                    "emptyTable": "Sin información para mostrar",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                "aLengthMenu": [[5, 10, 20, -1], [5, 10, 20, "Todos"]],
                "iDisplayLength": 5
            });
        });
    </script>
{% endblock %}

{#    <!-- Jquery Core Js -->#}
{#    <script src="../../plugins/jquery/jquery.min.js"></script>#}
{##}
{#    <!-- Bootstrap Core Js -->#}
{#    <script src="../../plugins/bootstrap/js/bootstrap.js"></script>#}
{##}
{#    <!-- Select Plugin Js -->#}
{#    <script src="../../plugins/bootstrap-select/js/bootstrap-select.js"></script>#}
{##}
{#    <!-- Slimscroll Plugin Js -->#}
{#    <script src="../../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>#}
{##}
{#    <!-- Waves Effect Plugin Js -->#}
{#    <script src="../../plugins/node-waves/waves.js"></script>#}

