{% extends 'control_panel/base.html' %}
{% load static %}
{% block header_style %}

    <!-- JQuery DataTable Css -->
    <link href="{% static 'control_panel/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}"
          rel="stylesheet">

{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h2>
                        GESTIÓN DE USUARIOS
                        <small>Módulo para la gestion de usuarios</small>
                    </h2>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <ol class="breadcrumb breadcrumb-col-amber text-right">
                        <li><a href="javascript:void(0);"><i class="material-icons">home</i> Principal</a></li>
                        <li class="active"><i class="material-icons">group</i>
                            Usuarios
                        </li>

                    </ol>
                </div>
            </div>
        </div>

        <!-- #END# Basic Examples -->
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            LISTADO DE USUARIOS
                        </h2>
                        {% if request.user.is_afiliado %}
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="{% url 'add_person_of_business' %}" type="button"
                                       class="btn btn-default waves-effect waves-black">
                                        <i class="material-icons " style="color: #212121">add_circle</i>
                                        <span>AGREGAR</span>
                                    </a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table id="example"
                                   class="table table-bordered table-striped table-hover dataTable">
                                <thead>
                                <tr>
                                    <th>Nro</th>
                                    <th>Nombre y Apellidos</th>
                                    <th>Usuario</th>
                                    <th>Tipo</th>
                                    <th>Teléfono</th>
                                    <th>Correo</th>
                                    <th>Estado usuario</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Nro</th>
                                    <th>Nombre y Apellidos</th>
                                    <th>Usuario</th>
                                    <th>Tipo</th>
                                    <th>Teléfono</th>
                                    <th>Correo</th>
                                    <th>Estado usuario</th>
                                    <th>Acciones</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {% for user in usuarios %}
                                    <tr>
                                        <th>{{ user.id }}</th>
                                        <td style="overflow: hidden;max-width: 150px;
                                          white-space: pre-line;
                                          text-overflow: ellipsis;">{{ user.first_name }} {{ user.last_name }}
                                        </td>
                                        <td>{{ user.username }}</td>
                                        {% if user.is_afiliado %}
                                            <td>Afiliado</td>
                                        {% elif user.is_cliente %}
                                            <td>Cliente</td>
                                        {% elif user.is_persona_encargada %}
                                            <td>Persona encargada</td>
                                        {% elif user.is_administrador %}
                                            <td>Administrador</td>
                                        {% else %}
                                            <td>Superusuario</td>
                                        {% endif %}
                                        {% if user.telefono %}
                                            <td>{{ user.telefono }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                        <td>{{ user.email }}</td>
                                        {% if user.is_active %}
                                            <td><span class="label bg-green" data-toggle="tooltip" data-placement="top"
                                                      title="{{ user.fecha_alta }}">Activo</span></td>
                                        {% else %}
                                            <td><span class="label bg-red">Bloqueado</span></td>
                                        {% endif %}

                                        <td>
                                            {#                                         <div class="icon-button-demo m-t-25">#}
                                            {% if user.is_active %}
                                                <a href="#" type="button"
                                                   class="btn btn-default waves-effect waves-black"
                                                   data-href="{% url 'blocked_user' user.id %}"
                                                   title="Desactivar Usuario"
                                                   data-toggle="modal" data-target="#blockedModal"
                                                   data-id="{{ user.id }}">
                                                    <i class="material-icons">accessibility</i>
                                                </a>
                                            {% else %}
                                                <a href="#" type="button"
                                                   class="btn btn-default waves-effect waves-black"
                                                   data-href="{% url 'activate_user' user.id %}"
                                                   title="Activar Usuario"
                                                   data-toggle="modal" data-target="#activeModal"
                                                   data-id="{{ user.id }}">
                                                    <i class="material-icons">accessibility</i>
                                                </a>
                                            {% endif %}
                                            {% if request.user.is_superuser %}
                                                <a href="#" type="button"
                                                   class="btn btn-default waves-effect waves-black"
                                                   data-href="{% url 'rol_admin' user.id %}"
                                                   title="Asignar Rol de Administrador"
                                                   data-toggle="modal" data-target="#cambiarRol"
                                                   data-id="{{ user.id }}">
                                                    <i class="material-icons">swap_calls </i>
                                                </a>

                                            {% endif %}
                                            <a type="button" href="{% url 'update_user' user.id %}"
                                               class="btn btn-default waves-effect waves-black">
                                                <i class="material-icons">edit</i>
                                            </a>
                                            <a href="#" type="button" class="btn btn-default waves-effect waves-black"
                                               data-href="{% url 'delete_user' user.id %}"
                                               data-id="{{ user.id }}"
                                               data-toggle="modal"
                                               data-target="#confirm-delete"
                                               title="Eliminar Usuario">
                                                <i class="material-icons">delete</i>
                                            </a>
                                            {#                                         </div>#}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
    <!-- Default Size -->
    <div class="modal fade" id="activeModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #212121">
                    <h4 class="modal-title" id="defaultModalLabel" style="color: #fff">Desbloquear usuario</h4>
                </div>
                <div class="modal-body">
                    ¿Desea realmente desbloquear a este usuario ?

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">CERRAR
                    </button>
                    <a type="button" class="btn btn-default btn-ok"> DESBLOQUEAR</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="blockedModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #212121">
                    <h4 class="modal-title" id="defaultModalLabel" style="color: #fff">Bloquear usuario</h4>
                </div>
                <div class="modal-body">

                    ¿Desea realmente bloquear a este usuario ?

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">CERRAR
                    </button>
                    <a type="button" class="btn btn-default btn-ok"> BLOQUEAR</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #212121">
                    <h4 class="modal-title" id="defaultModalLabel" style="color: #fff">Eliminar usuario</h4>
                </div>
                <div class="modal-body">
                    ¿Desea realmente eliminar a este usuario?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">CERRAR</button>
                    <a type="button" class="btn btn-default btn-ok">ELIMINAR</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="cambiarRol" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #212121">
                    <h4 class="modal-title" id="defaultModalLabel" style="color: #fff">Asignar rol de administrador</h4>
                </div>
                <div class="modal-body">
                    ¿Desea realmente asignar el rol de administrador a este usuario ?

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">CERRAR
                    </button>
                    <a type="button" class="btn btn-default btn-ok"> ASIGNAR ROL</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block plugin_section %}
    <!-- Jquery DataTable Plugin Js -->
    <script src="{% static 'control_panel/plugins/jquery-datatable/jquery.dataTables.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/extensions/export/buttons.flash.min.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/extensions/export/jszip.min.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/extensions/export/pdfmake.min.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/extensions/export/vfs_fonts.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/extensions/export/buttons.html5.min.js' %}"></script>
    <script src="{% static 'control_panel/plugins/jquery-datatable/extensions/export/buttons.print.min.js' %}"></script>

    <!-- Custom Js -->

    <script src="{% static 'control_panel/js/pages/tables/jquery-datatable.js' %}"></script>
    <script src="{% static 'control_panel/js/pages/ui/modals.js' %}"></script>
    <script src="{% static 'control_panel/js/pages/ui/tooltips-popovers.js' %}"></script>

    <script>
        $('#activeModal').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });

        $('#blockedModal').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });

        $('#confirm-delete').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                responsive: true,

                language: {
                    "decimal": "",
                    "emptyTable": "Sin información para mostrar",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                "aLengthMenu": [[5, 10, 20, -1], [5, 10, 20, "Todos"]],
                "iDisplayLength": 5
            });
        });
    </script>


{% endblock %}
